h2 {
	color: #0000FF;
	font-family: "Times New Roman", Georgia, serif;
	font-size: large;
	font-weight: normal;
}

h1 {
	color: #0000FF;
	font-family: "Times New Roman", Georgia, serif;
	font-size: x-large;
}

<<<<<<< Updated upstream
=======
.main-hr {
	border-top: solid #a6a6a4 2px;
	width: 100%;
}
.author {
	/* background-color: green; */
	width: 80%;
	margin: auto;
	text-align: center;
	font-style: italic;
	padding: 1.5rem 0 1rem 0;
}


.list {
	margin-left: 7rem;
}
>>>>>>> Stashed changes
