h2 {
	color: #0000FF;
	font-family: "Times New Roman", Georgia, serif;
	font-size: large;
	font-weight: normal;
}

h1 {
	color: #0000FF;
	font-family: "Times New Roman", Georgia, serif;
	font-size: x-large;
}

